// .featured {
//     display: flex;
//     justify-content: center;
// }

.main-image {
    img {
        padding-left: 90px;
        width: 1000px;
        height: 400px;
        object-fit: cover;
    }
}

.title {
    margin-top: 60px;
    text-align: center;
    color: lightcoral;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: 450px;
    padding-left: 90px;
    padding-top: 60px;
}

.sub-product {
    img {
        width: 300px;
        height: 300px;
        object-fit: cover;
    }

}

.btn {
    background-color: white;
    padding: 10px;
    justify-content: center;
    margin-left: 90px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    color: lightgrey;

    &:hover {
        color: lightcoral;
    }

  }